:root {
  --black: #000;
  --gray1: #333;
  --gray2: #666;
  --gray3: #999;
  --gray4: #ccc;
  --white: #fff;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Spoqa Han Sans Neo;
  background: var(--white);
}

button {
  cursor: pointer;
}

html,
body,
#root {
  height: 100vh;
}
